<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <% if !task.complete? %>
    <%= link_to complete_task_path(task.id), method: :patch do %>
      <i class="fa fa-square-o"></i>
    <% end %>
    <%= link_to edit_task_path(task) do %>
      <%= task.name %>
    <% end %>
    
    <br>
  <% end %>
<% end %>

<%= form_for [@task, @tasks.new] do |f| %>
  <%= f.text_field :name, placeholder: "New Task" %>
  <%= f.submit %>
<% end %>
